/**/

html,body {
  background: magenta;
  height: 80%;
}

.out {
  border: solid 1px black;
  border-radius: 60px;
  padding: 5px;
  margin: 5px;
  height: 60%;
  background: lawngreen;
}

#btn {
  font-size: 3em;
}

#btn::after {
  content: "×";
  color: red;
}
